name: Deploy to VK S3
on:
  push:
    branches: [ test-branch-for-s3 ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./docs
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: docs/package-lock.json
    
    - name: install deps
      run: npm ci
    
    - name: Building statics
      run: npm run docs:build
    
    - name: Deploy vk s3 static files vp
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.VKCS_ACCESS_KEY }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.VKCS_SECRET_KEY }}
        AWS_DEFAULT_REGION: ru-msk
      run: |
        aws s3 sync .vitepress/dist/ s3://docs-systemschool-bucket/ \
          --endpoint-url https://hb.ru-msk.vkcloud-storage.ru \
          --delete \
          --acl public-read
    
    - name: Reload nginx on VKCS VM
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VKCS_SSH_IP_DOCS_VM }}
        username: root
        key: ${{ secrets.VKCS_SSH_PUB }}
        script: |
          sudo nginx -s reload
