name: Deploy to s3 

on:
  push:
    branches: [ test-branch-for-s3 ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    # Configure AWS CLI directly for VK Cloud
    - name: Configure VK S3 Credentials
      run: |
        aws configure set aws_access_key_id ${{ secrets.VKCS_ACCESS_KEY }}
        aws configure set aws_secret_access_key ${{ secrets.VKCS_SECRET_KEY }}
        aws configure set region ru-central1
        aws configure set s3.endpoint_url "https://ru-central1.objects.vkcloud.ru"  # ← КАВЫЧКИ!
        
    # Deploy files to S3
    - name: Deploy to S3
      run: |
        aws s3 sync . s3://docs-systemschool-bucket/ \
          --delete \
          --acl public-read \
          --exclude ".git/*" \
          --exclude ".github/*" 
    
    
