name: Deploy to s3 

on:
  push:
    branches: [ test-branch-for-s3 ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    # Deploy to VK Cloud S3 с правильными переменными окружения
    - name: Deploy to VK S3
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.VKCS_ACCESS_KEY }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.VKCS_SECRET_KEY }}
        AWS_DEFAULT_REGION: ru-central1
        AWS_ENDPOINT_URL: https://ru-central1.objects.vkcloud.ru
      run: |
        aws s3 sync . s3://docs-systemschool-bucket/ \
          --delete \
          --acl public-read \
          --exclude ".git/*" \
          --exclude ".github/*"
