name: Deploy Local Static Files to vk vm
on:
  push:
    branches: [ test-branch-for-s3 ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./docs
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: docs/package-lock.json
    
    - name: Install deps
      run: npm ci
    
    - name: Building statics
      run: npm run docs:build
    
    - name: Deploy statics to vm with rsync
      env:
        SSH_PRIVATE_KEY: ${{ secrets.VKCS_SSH_KEY_DOCS_VM }}
      run: |
    
        sudo apt-get update -qq
        sudo apt-get install -y sshpass rsync
        
     
        mkdir -p /tmp/ssh_deploy
        
        # видимо ломает echo,  пробую делать принтф
        printf '%s' "$SSH_PRIVATE_KEY" > /tmp/ssh_deploy/id_rsa
        chmod 600 /tmp/ssh_deploy/id_rsa
        
        # Тестируем подключение
        sshpass -p '' ssh -o StrictHostKeyChecking=no \
          -i /tmp/ssh_deploy/id_rsa -o IdentitiesOnly=yes \
          ${{ secrets.VKCS_USER_DOCS_VM }}@${{ secrets.VKCS_SSH_IP_DOCS_VM }} 'echo "SSH OK"'
        
        # RSYNC
        rsync -avz \
          --delete --checksum --progress \
          -e "sshpass -p '' ssh -i /tmp/ssh_deploy/id_rsa -o StrictHostKeyChecking=no -o IdentitiesOnly=yes" \
          .vitepress/dist/ \
          ${{ secrets.VKCS_USER_DOCS_VM }}@${{ secrets.VKCS_SSH_IP_DOCS_VM }}:/aisystant/app/static/
    
    - name: Fix permissions and reload nginx
      env:
        SSH_PRIVATE_KEY: ${{ secrets.VKCS_SSH_PRIVATE_KEY }}
      run: |
        printf '%s' "$SSH_PRIVATE_KEY" > /tmp/ssh_deploy/id_rsa
        chmod 600 /tmp/ssh_deploy/id_rsa
        
        sshpass -p '' ssh -i /tmp/ssh_deploy/id_rsa \
          -o StrictHostKeyChecking=no \
          ${{ secrets.VKCS_USER_DOCS_VM }}@${{ secrets.VKCS_SSH_IP_DOCS_VM }} \
          "sudo chown -R ${{ secrets.VKCS_USER_DOCS_VM }}:${{ secrets.VKCS_USER_DOCS_VM }} /aisystant/app/static/ && sudo nginx -s reload"
