name: Deploy to VK S3
on:
  push:
    branches: [ test-branch-for-s3 ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./docs
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: docs/package-lock.json
    
    - name: Install deps
      run: npm ci
    
    - name: Build vp
      run: npm run docs:build
    
    - name: debug hochu glyanut gde vce sobraos 1
      run: cat package.json | grep -A 10 '"docs:build"'
    
    - name: debug hochu glyanut gde vce sobraos 2
      run: find . -type d -name "*dist*" -o -name "dist*" | head -10
    
    - name: debug hochu glyanut gde vce sobraos 3
      run: ls -la
